html{
    background-color: burlywood;
    height: 100%;
}
#Tip_calculate{
    height: 425px;
    width: 580px;
    background-color: brown;
    display: grid; 
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px ;
    grid-template-areas: "" "" "" "" "";
    margin: 50px auto;
    padding: 45px;
    color: white;
    
}
/* #Bill{
   grid-area: Bill;
}
#Percentage{
   grid-area: Percentage;
}
#Amount{
   grid-area: Amount;
}
#Total{
   grid-area: Total;
} */